element.style {
  text-align: center;
  opacity: 0.4;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}

.fa-history {
  margin-top: 10px;

  /* line-height: 70px; */
}
a.fa.fa-2x.fas.fa-history {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
