/* .rmdb-logo {
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(../../../images/1asd.png) center center no-repeat / cover;
} */

.navbar img {
  height: auto;
  width: 150px;
  margin-left: 125px;
}

.nav-menu {
  /* background: #232f3e; */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  /* padding: 30px; */
  transition: all 0.7s;
}

.menu-item {
  font-size: 21px;
  letter-spacing: 1px;
  color: #eee;
  transition: color 0.5s;
}

.menu-item:hover {
  color: #fed90f;
}

.nav-active {
  color: #fed90f;
}

a.text-light:focus,
a.text-light:hover {
  color: #fed90f !important;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.4s;
}

.change .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change .line2 {
  opacity: 0;
}

.change .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.custom-navbar {
  padding: 5px 30px;
  background: #232f3e;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}

/* .rmdb-header {
  width: 100%;
  height: auto;
  background: #1c1c1c;
  padding: 0 20px;
  box-sizing: border-box;
}

.rmdb-header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.rmdb-logo {
  width: 300px;
  margin-top: 20px;
  float: left;
}

.rmdb-tmdb-logo {
  width: 122px;
  margin-top: 25px;
  float: right;
}

@media screen and (max-width: 500px) {
  .rmdb-header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .rmdb-tmdb-logo {
    display: inline-block;
    width: 80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 150px;
    margin-top: 5px;
  }
} */
