.rmdb-grid h1 {
  padding-top: 0px;
  font-size: 38px;
  font-weight: bold;
}

.rmdb-grid-content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.rmdb-grid-element {
  margin: 0 28px 28px 0;
  /* background: #ffffff; */
  max-height: 430px;
  animation: animateGrid 0.5s;
  overflow: hidden;
  box-shadow: 10px 10px 5px rgba(128, 128, 128, 0.753);
}

@keyframes animateGrid {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* For a 4-column grid */
.rmdb-grid-element:nth-child(4n + 4) {
  margin-right: 0;
}

@media screen and (max-width: 720px) {
  .rmdb-grid-content {
    grid-template-columns: auto auto;
  }

  .rmdb-grid-element:nth-child(2n + 2) {
    margin-right: 0;
  }

  .rmdb-grid h1 {
    font-size: 22px;
  }
}
