.container {
  font-size: 15px;
}

.col-md {
  padding-top: 23px;
}

.fa-time,
.fa-revenue {
  float: left;
  margin-top: -4px;
}

.famarginleft {
  padding-left: 16px;
}

.rot {
  transform: rotate(-40deg);
}
