/* Padding class cuz if padding p, padding both home and another element */
.Home {
  padding-left: 40px;
}

.Home p {
  /* float: left; */
  padding-left: 140px;
  font-weight: normal;
}

.rmdb-navigation-content p {
  float: left;
  font-weight: normal;
}

.navigation-size {
  font-size: 20px;
}

@media screen and (max-width: 650px) {
  .rmdb-navigation-content p {
    font-size: 0px;
  }
}
