.rmdb-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 776px;
  padding: 130px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rmdb-moviethumb img {
  width: 367px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.rmdb-movieinfo-content {
  max-width: 1280px;
  width: 100%;
  height: 560px;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  position: relative;
}

.rmdb-movieinfo-thumb {
  width: 367px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  padding-top: 3px;
  left: 0px;
}

.rmdb-movieinfo-text {
  width: auto;
  padding: 22px;
  color: #fff;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 360px;
}

.col-md-6 {
  padding: 0px;
}

/* button toggle left */
.btn-primary {
  color: rgba(255, 255, 255, 0.534);
  background-color: #f3f3f354;
  border-color: #0000004d;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ffffffc2;
  border-color: #000000a4;
}

/* when button is active */
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  /* color: #fff; */
  background-color: rgb(255, 255, 255);
  border-color: #00000000;
}

.share-logo {
  height: auto;
  width: 25px;
}

.rating-logo {
  height: auto;
  width: 27px;
}

.heart-logo {
  height: auto;
  width: 27px;
}

.watchlist-logo {
  height: auto;
  width: 27px;
}

.playlist-logo {
  height: auto;
  width: 40px;
  margin: 0px;
}

.edit-logo {
  height: auto;
  width: 22px;
}

.flag-logo {
  height: auto;
  width: 22px;
}

.download-logo {
  height: auto;
  width: 22px;
}

.test1 {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1d;
  text-align: center;
  padding-top: 9px !important;
}

button#dropdown-item-button.dropdown-toggle.btn.btn-primary::before {
  color: black;
}

.rmdb-movieinfo-text h1 {
  /* font-weight: bold; */
  font-size: 48px;
  margin: 0;
}

.rmdb-movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
}

.rmdb-movieinfo-text p {
  font-size: 18px;
  line-height: 26px;
}
/* 
/* IMDb rating */
.rmdb-rating {
  width: 260px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.rmdb-rating img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.3s;
  box-sizing: border-box;
}

/* IMDB score */
/* .rmdb-score {
  position: absolute;
  margin-left: 0px;
  right: -36px;
  top: 33px;
} */

.rmdb-score {
  position: relative;
  margin-left: 0px;
  right: -219px;
  top: -31px;
}

/* bold first rating */
h2.rmdb-score {
  font-weight: bold;
}

/* normal weight /10 */
.maxim-rating {
  font-weight: normal !important;
}

/* IMDb logo */
.imdb-logo {
  background: no-repeat center center / cover;
  padding-top: 10px;
  height: 11vh;
  opacity: 0.7;
  padding-top: 30px;
  margin-left: 25px;
}

.maxim-rating {
  font-size: 20px;
}

.rmdb-director {
  margin: 0;
}
*/ .fa-file-video {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: rgba(255, 255, 255, 0.856);
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 200px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}

.star {
  color: #fee500;
}

.hearth {
  color: rgb(255, 30, 0);
}

.watch {
  color: #36a1f0;
}

/* @media screen and (max-width: 1060px) {
  .rmdb-movieinfo-thumb {
    width: auto;
    height: 0%;
    overflow: hidden;
    position: absolute;
    padding-top: 3px;
    left: 0px;
  }
} */

h2.display-5.asd {
  position: relative;
  padding-top: 0px;
  padding-left: 58px;
  margin-bottom: 0px;
  /* color: #fbb450; */
}

span.rating-size {
  font-weight: bold;
  font-size: 55px;
}

h3 {
  font-weight: bold;
  padding-bottom: 7px;
  margin-top: 20px;
  padding-top: 0px;
}

.fa-heart:before {
  content: "\f004";
  color: red;
}

.fa-heart:hover {
  color: #fed90f;
  fill: #fed90f;
  background: #ee5f5b;
  /* text-decoration: none; */
}

@media screen and (max-width: 1460px) {
  .imdb-logo {
    background: no-repeat center center / cover;
    padding-top: 10px;
    height: 11vh;
    opacity: 0.7;
    padding-top: 30px;
    margin-left: 25px;
  }
}

@media screen and (max-width: 1220px) {
  .imdb-logo {
    background: no-repeat center center / cover;
    padding-top: 10px;
    height: 11vh;
    opacity: 0.7;
    padding-top: 30px;
    margin-left: 121px;
  }
}

@media screen and (max-width: 1060px) {
  .rmdb-movieinfo-thumb {
    width: auto;
    height: 0%;
    overflow: hidden;
    position: absolute;
    padding-top: 3px;
    left: 0px;
  }

  .imdb-logo {
    background: no-repeat center center / cover;
    padding-top: 10px;
    height: 11vh;
    opacity: 0.7;
    padding-top: 30px;
    margin-left: 160px;
  }

  .rmdb-movieinfo-text {
    left: 0px;
  }

  .rmdb-movieinfo-text h1 {
    font-size: 21px;
    margin: 0;
    height: 210px;
  }

  .fa-film {
    height: 0%;
    width: auto;
    overflow: hidden;
  }

  .rmdb-score {
    position: absolute;
    margin-left: 0px;
    right: 3px;
    top: 34px;
  }

  .rmdb-rating meter {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

.pl-5,
.px-5 {
  padding-left: 6rem !important;
}

.WatchList {
  padding-left: 3rem !important;
}

.List {
  padding-left: 4rem !important;
}

@media screen and (max-width: 1045px) {
  .rmdb-score {
    position: relative;
    margin-left: 0px;
    right: -213px;
    top: -34px;
  }
}

@media screen and (max-width: 820px) {
  .rmdb-score {
    position: absolute;
    margin-left: 0px;
    right: -137px;
    top: 34px;
  }
}

@media screen and (max-width: 500px) {
  .rmdb-score {
    position: absolute;
    margin-left: 0px;
    right: 88px;
    top: 34px;
  }
}

@media screen and (max-width: 770px) {
  .description {
    width: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2.display-5.asd {
    position: relative;
    padding-top: 0px;
    padding-left: 58px;
    margin-bottom: 0px;
    /* color: #fbb450; */
  }

  .pl-5,
  .px-5 {
    padding-left: 1rem !important;
  }
}
