.rmdb-movieinfo {
  background-size: cover !important;
  background-position: center !important;
  width: 100%;
  height: 776px;
  padding: 130px 20px;
  box-sizing: border-box;
  animation: animateMovieinfo 1s;
}

@keyframes animateMovieinfo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.rmdb-movieinfo-content {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: rgb(0, 0, 0, 0.7);
  position: relative;
}

.rmdb-movieinfo-thumb {
  width: 367px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  padding-top: 3px;
  left: 0px;
}

.rmdb-movieinfo-text {
  height: 100%;
  width: auto;
  padding: 22px;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  left: 360px;
}

.rmdb-movieinfo-text h1 {
  /* font-weight: bold; */
  font-size: 48px;
  margin: 0;
}

.rmdb-movieinfo-text h3 {
  font-size: 16px;
  line-height: 0;
  /* margin-top: 30px; */
}

.rmdb-movieinfo-text p {
  font-size: 18px;
  line-height: 26px;
}

.rmdb-rating {
  width: 250px;
  height: 20px;
  margin-top: 20px;
  position: relative;
}

.rmdb-score {
  position: absolute;
  margin: 0;
  right: 0px;
  top: -3px;
}

.rmdb-director {
  margin: 0;
}

.fa-file-video {
  position: absolute;
  bottom: 40px;
  right: 40px;
  color: rgba(255, 255, 255, 0.856);
}

meter::-webkit-meter-bar {
  background: #fff;
  width: 200px;
}
meter::-webkit-meter-optimum-value {
  background: linear-gradient(to bottom, #16d47b);
}
meter::-webkit-meter-suboptimum-value {
  background: linear-gradient(to bottom, #fbb450);
}
meter::-webkit-meter-even-less-good-value {
  background: linear-gradient(to bottom, #ee5f5b);
}

.star {
  color: #fee500;
}

.hearth {
  color: rgb(255, 30, 0);
}

.watch {
  color: #36a1f0;
}

/* @media screen and (max-width: 1060px) {
  .rmdb-movieinfo-thumb {
    width: auto;
    height: 0%;
    overflow: hidden;
    position: absolute;
    padding-top: 3px;
    left: 0px;
  }
} */

h2.display-5.asd {
  position: relative;
  padding-top: 46px;
  padding-left: 58px;
  margin-bottom: 0px;
  /* color: #fbb450; */
}

span.rating-size {
  font-weight: bold;
  font-size: 55px;
}

h3 {
  font-weight: bold;
  padding-bottom: 7px;
  margin-top: 20px;
  padding-top: 0px;
}

.fa-heart:before {
  content: "\f004";
  color: red;
}

.fa-heart:hover {
  color: #fed90f;
  fill: #fed90f;
  background: #ee5f5b;
  /* text-decoration: none; */
}

@media screen and (max-width: 1060px) {
  .rmdb-movieinfo-thumb {
    width: auto;
    height: 0%;
    overflow: hidden;
    position: absolute;
    padding-top: 3px;
    left: 0px;
  }

  .rmdb-movieinfo-text {
    left: 0px;
  }

  .rmdb-movieinfo-text h1 {
    font-size: 21px;
    margin: 0;
  }

  .fa-film {
    height: 0%;
    width: auto;
    overflow: hidden;
  }
}

.pl-5,
.px-5 {
  padding-left: 6rem !important;
}

.WatchList {
  padding-left: 3rem !important;
}

.List {
  padding-left: 4rem !important;
}

@media screen and (max-width: 770px) {
  .description {
    width: 420px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h2.display-5.asd {
    position: relative;
    padding-top: 0px;
    padding-left: 58px;
    margin-bottom: 0px;
    /* color: #fbb450; */
  }

  .pl-5,
  .px-5 {
    padding-left: 1rem !important;
  }

  .row {
    /* position: absolute; */
    /* left: 50%; */
  }
}
