.rmdb-movie {
  margin-bottom: 100px;
}

.rmdb-movie-grid {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

/* change navigation position */
.navigation-movie p {
  font-size: 19px;
  float: left;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  padding-right: 15px;
  padding-top: 96px;
  margin: 0;
}
