.loader {
  border: 5px solid #e0cfcf; /* Light grey */
  border-top: 5px solid #16d47b; /* Blue */
  border-radius: 89%;
  width: 60px;
  height: 60px;
  animation: spin 0.5s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
